<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<body class="container mt-5" >

<demo-carousel-basic></demo-carousel-basic>

  <button (click)="openModal(content3)" href="#" class="btn btn-success mt-5" style="display: flex; color: seagreen; text-decoration: none; list-style: none;">
    <i style="color:white" class="bi bi-plus-circle-fill"> Produto</i>
  </button>

  <!-- modal para criar produto -->
  <ng-template #content3  let-modal>
    <div class="modal-header" >
      <h4 class="modal-title" id="modal-basic-title">Criar Produto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       <div class="row">
         <div class="col-md-12">
           <label class="form-label" >Nome</label>
           <input type="text" class="form-control">
         </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          <label class="form-label" >Descrição</label>
          <input type="text" class="form-control">
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <label class="form-label" >Preço</label>
          <input type="text" class="form-control">
        </div>
       </div>
       <div class="row">
        <div class="col-md-12">
          <label class="form-label" >Imagem</label>
          <input type="text" class="form-control">
        </div>
       </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

<!-- fim modal -->

<div id="card">

<div *ngFor="let item of produtos" id="oncard">
 
    <div id="cardInside" >
      <div id="insideCard">
        <img src="https://localhost:44339/Images/cerveja.jpg" alt="cerveja">
        <h5 >{{item.nome}}</h5>
        <p >{{item.descricao}}</p>
        <a class="bi bi-pencil-square" href="#" style="font-size: 20px;" (click)="openModal(content)"> </a>
        <a class="bi bi-trash ml-2" href="#" style="font-size: 20px; color: red;"  (click)="openModal(content2)"></a>
      </div>
  
             <!-- modal para atualizar o produto   -->
             <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Atualizar Produto</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form-label" >Nome</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                     <label class="form-label" >Descrição</label>
                     <input type="text" class="form-control">
                   </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                     <label class="form-label" >Preço</label>
                     <input type="text" class="form-control">
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-md-12">
                     <label class="form-label" >Imagem</label>
                     <input type="text" class="form-control">
                   </div>
                  </div>
                 </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
              </div>
            </ng-template>
        
          <!-- modal para excluir -->
          <ng-template #content2 let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{item.nome}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div >
              <table class="table table-hover mt-2 ">
                <thead></thead>
                <tbody>
                  <tr class="table">
                    {{item.imagemUrl}}
                  </tr>
                  <tr class="table">
                    <td>Produto:</td>
                    <td >{{item.nome}}</td>
                  </tr>
                  <tr class="table">
                    <td>Preço:</td>
                    <td >{{item.preco}}</td>
                  </tr>
                  <tr class="table">
                    <td>Descrição:</td>
                    <td >{{item.descricao}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" (click)="modal.close('delete')" >Excluir</button>
            </div>
          </ng-template>
  
    </div>
  
  </div>

</div>


</body>

<footer>
  <div id="barra"></div>
  <div>
    <div>
      Desenvolvido Por Matheus Balduino
    </div>
  </div>
</footer>


